
<h1> Registracija pas gydytoją</h1>
<form class="example-form" [formGroup]="profileForm" (ngSubmit)="onSubmit(registerForm)">




  <mat-form-field class="example-full-width" >
    <mat-label>Vardas</mat-label>
    <input matInput required formControlName="name" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Pavardė</mat-label>
    <input matInput  required formControlName="lastname">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Elektroninis paštas</mat-label>
    <input matInput  required formControlName="email">
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Telefono numeris</mat-label>
    <input matInput type="tel" required formControlName="phoneNumber">
    <span matPrefix>+370 &nbsp;</span>
  </mat-form-field>


  <mat-label>Ar buvote šiais metais Italijoje?</mat-label>
  <div>
      <mat-radio-group class="radio-button" formControlName="Italy" >
        <mat-radio-button value=true>Taip</mat-radio-button>
        <mat-radio-button value=false>Ne</mat-radio-button>
      </mat-radio-group>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Pasirinkite gydytoją</mat-label>
    <mat-select formControlName="doctor">
      <mat-option>Pasirinkite</mat-option>
      <mat-option *ngFor="let doctor of doctors" [value]="doctor"  >{{doctor}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <mat-label >Registracija patvirtinama tik užpildžius visus laukus!</mat-label>
  </div>
  <button class="blue" type="submit" [disabled]='!profileForm.valid'  >Registruotis</button>
</form>


<!--=========================Lentele========================-->
  <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Vardas </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Pavardė </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Elektroninis paštas </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Telefono numeris </th>
      <td mat-cell *matCellDef="let element">+370  {{element.phoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="Italy">
      <th mat-header-cell *matHeaderCellDef> Ar buvo Italijoje </th>
      <td mat-cell *matCellDef="let element"> {{element.Italy==true? 'Taip' : 'Ne'}} </td>
    </ng-container>

    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef> Daktaras </th>
      <td mat-cell *matCellDef="let element"> {{element.doctor}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


